<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>{{position}}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Servicios:</p>
        <ul>
            <li *ngFor="let s of destino.servicios;">
                <span class="container" [ngSwitch]="s">
                    <i *ngSwitchCase="'Desayuno'" style="text-decoration:underline; font-weight: bold;">{{s}} *</i>
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        <a href="#" class="btn-card" (click)="ir()">Ir!</a>
        <span class="pl-2" *ngIf="destino.isSelected()">
            <span ngNonBindeable>
                - PREFERIDO -
            </span>
        </span>
        <a class="pl-2" [routerLink]="['/destino', destino.id]">Ver detalles</a>
    </div>
</div>